<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Biblioteca CKH</title>
    <!-- core:css -->
    <link rel="stylesheet" href="../assets/vendors/core/core.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"
    />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="../assets/fonts/feather-font/css/iconfont.css"
    />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
  </head>
  <body>
    <div class="main-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar">
        <div class="sidebar-header">
          <a href="#" class="sidebar-brand"> Biblioteca </a>
          <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="sidebar-body">
          <ul class="nav">
            <li class="nav-item nav-category">Libros</li>
            <li class="nav-item">
              <a href="consultar.html" class="nav-link">
                <i class="link-icon" data-feather="book"></i>
                <span class="link-title">Consultar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="agregar.html" class="nav-link">
                <i class="link-icon" data-feather="plus-square"></i>
                <span class="link-title">Agregar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="modificar.html" class="nav-link">
                <i class="link-icon" data-feather="edit"></i>
                <span class="link-title">Modificar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="eliminar.html" class="nav-link">
                <i class="link-icon" data-feather="trash"></i>
                <span class="link-title">ELiminar Libros</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="page-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content">
            <ul class="navbar-nav">
              <li class="nav-item dropdown nav-profile">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="profileDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    id="profileUser"
                    src="../assets/images/user.png"
                    alt="profile"
                  />
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <div
                    class="dropdown-header d-flex flex-column align-items-center"
                  >
                    <div class="figure mb-3">
                      <img
                        id="profileUserBox"
                        src="../assets/images/user.png"
                        alt="profile"
                      />
                    </div>
                    <div class="info text-center">
                      <p id="profileName" class="name font-weight-bold mb-0">
                        Nombre Usuario
                      </p>
                      <p id="profileEmail" class="email text-muted mb-3">
                        Email
                      </p>
                    </div>
                  </div>
                  <div class="dropdown-body">
                    <ul class="profile-nav p-0 pt-3">
                      <li class="nav-item">
                        <a href="#" id="btnLogout" class="nav-link">
                          <i data-feather="log-out"></i>
                          <span>Cerrar Sesión</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->
        <div class="page-content">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Libros</h6>
                  <div class="table-responsive">
                    <table id="dataTable" class="table">
                      <thead>
                        <tr>
                          <th>ISBN</th>
                          <th>Nombre</th>
                          <th>Editorial</th>
                          <th>Carrera</th>
                          <th>Ubicación</th>
                        </tr>
                      </thead>
                      <tbody id="tabla-libros"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- partial:partials/_footer.html -->
        <footer
          class="footer d-flex flex-column flex-md-row align-items-center justify-content-between"
        >
          <p class="text-muted text-center text-md-left">
            Copyright © 2022 <a href="https://github.com/carmonabernaldiego/electron">Biblioteca CKH</a>. Todos los derechos
            reservados
          </p>
        </footer>
        <!-- partial -->
      </div>
    </div>
    <!-- core:js -->
    <script src="../assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="./js/load-user.js"></script>
    <script src="./js/consultar.js"></script>
    <script src="../assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="../assets/vendors/promise-polyfill/polyfill.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/vendors/feather-icons/feather.min.js"></script>
    <script src="../assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="./js/data-table.js"></script>
    <!-- end custom js for this page -->
  </body>
</html>