<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Biblioteca CKH</title>
    <!-- core:css -->
    <link rel="stylesheet" href="../assets/vendors/core/core.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"
      />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../assets/fonts/feather-font/css/iconfont.css"
      />
    <link
      rel="stylesheet"
      href="../assets/vendors/flag-icon-css/css/flag-icon.min.css"
      />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/demo_1/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
  </head>
  <body>
    <div class="main-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar">
        <div class="sidebar-header">
          <a href="#" class="sidebar-brand"> Biblioteca </a>
          <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="sidebar-body">
          <ul class="nav">
            <li class="nav-item nav-category">Inicio</li>
            <li class="nav-item">
              <a href="index.html" class="nav-link">
                <i class="link-icon" data-feather="book"></i>
                <span class="link-title">Localizar libros</span>
              </a>
            </li>
            <li class="nav-item nav-category">Estantes</li>
            <li class="nav-item">
              <a href="consultar.html" class="nav-link">
                <i class="link-icon" data-feather="search"></i>
                <span class="link-title">Consultar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="agregar.html" class="nav-link">
                <i class="link-icon" data-feather="plus-circle"></i>
                <span class="link-title">Agregar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="modificar.html" class="nav-link">
                <i class="link-icon" data-feather="edit"></i>
                <span class="link-title">Modificar Libros</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="eliminar.html" class="nav-link">
                <i class="link-icon" data-feather="delete"></i>
                <span class="link-title">ELiminar Libros</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- partial -->

      <div class="page-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar">
          <a href="#" class="sidebar-toggler">
            <i data-feather="menu"></i>
          </a>
          <div class="navbar-content">
            <form class="search-form">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i data-feather="search"></i>
                  </div>
                </div>
                <input type="text" class="form-control" id="navbarForm"
                  placeholder="Buscar libro...">
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item dropdown nav-profile">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="profileDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <img id="profileUser" src="../assets/images/user.png"
                    alt="profile" />
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <div
                    class="dropdown-header d-flex flex-column
                    align-items-center">
                    <div class="figure mb-3">
                      <img id="profileUserBox" src="../assets/images/user.png"
                        alt="profile" />
                    </div>
                    <div class="info text-center">
                      <p id="profileName" class="name font-weight-bold mb-0">
                        Nombre Usuario
                      </p>
                      <p id="profileEmail" class="email text-muted mb-3">
                        Email
                      </p>
                    </div>
                  </div>
                  <div class="dropdown-body">
                    <ul class="profile-nav p-0 pt-3">
                      <li class="nav-item">
                        <a href="#" id="btnLogout" class="nav-link">
                          <i data-feather="log-out"></i>
                          <span>Cerrar Sesión</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->




        <div class="page-content">
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Libros</h6>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="control-label">ISBN</label>
                          <input type="text" class="form-control"
                            placeholder="ISBN">
                        </div>
                      </div><!-- Col -->
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="control-label">Nombre</label>
                          <input type="text" class="form-control"
                            placeholder="Nombre">
                        </div>
                      </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Descripción</label>
                          <input type="text" class="form-control"
                            placeholder="Descripción">
                        </div>
                      </div><!-- Col -->
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Autor</label>
                          <input type="text" class="form-control"
                            placeholder="Autor">
                        </div>
                      </div><!-- Col -->
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label">Estante</label>
                          <input type="number" class="form-control"
                            placeholder="Estante">
                        </div>
                      </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">Stock</label>
                          <input type="number" class="form-control"
                            placeholder="Stock">
                        </div>
                      </div><!-- Col -->
                    </div><!-- Row -->
                  </form>
                  <button type="button" class="btn btn-primary submit">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- partial:partials/_footer.html -->
        <footer
          class="footer d-flex flex-column flex-md-row align-items-center
          justify-content-between">
          <p class="text-muted text-center text-md-left">
            Copyright © 2022 <a href="#">Biblioteca CKH</a>. Todos los
            derechos
            reservados
          </p>
        </footer>
        <!-- partial -->
      </div>
    </div>
    <script src="./js/load-user.js"></script>
    <!-- core:js -->
    <script src="../assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="../assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="../assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script
      src="../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/vendors/feather-icons/feather.min.js"></script>
    <script src="../assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="../assets/js/dashboard.js"></script>
    <script src="../assets/js/datepicker.js"></script>
    <!-- end custom js for this page -->
  </body>
</html>